.header{
    background: #bbbbbb;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacao li{
    display: inline;
    margin: 0 0 0 15px
}

.navegacao a{
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    
}

.navegacao a:hover{
    color: #C78C19;
    text-decoration: underline;
    transition: all .4s;
}

@media screen and (max-width: 480px){
    .header{
        flex-direction: column;
    }
}