.banner{
     width:100%;
}

.titulo-principal, .titulo-beneficios{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 0 0 1em;
    clear: left;
}


.titulo-principal::before{
    content: "[ ";
}

.titulo-principal::after{
    content: " ]"
}

.principal{
    max-width: 940px;
    margin: 0 auto;
    padding: 3em 0;
    background: #FEFEFE;
}

.principal p{
    margin: 0 0 1em;
    text-align: center;
    font-size: 18px;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.mapa{
    background: linear-gradient(#FEFEFE, #888888);
    padding: 3em 0;
}

.conteudo-mapa{
    max-width: 940px;
    margin: 0 auto;
}

.mapa p{
    text-align: center;
    margin: 0 0 2em 0;
}

.beneficios{
    background: #888888;
}

.conteudo-beneficios{
    width: 640px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}

.lista-beneficios{
    width: 40%;
}

.itens{
    line-height: 1.5;
}

.itens::before{
    content: "★";
}

.itens:first-child{
    font-weight: bold;
}

.img-beneficios{
    width: 60%;
    opacity: 1;
}

.img-beneficios:hover{
    opacity: .7;
    transition: 400ms;
}

.video{
    width: 560px;
    padding: 2em;
    margin: 0 auto;
}

@media screen and (max-width: 480px){
    .principal, .beneficios, .mapa, .video, .conteudo-beneficios, .lista-beneficios{
        width: auto;
        padding: 15px;
    }

    h1{
        text-align: center;
    }
    .principal > p{
        text-align: left;
    }

    .conteudo-beneficios{
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .titulo-principal::before{
        content: none;
    }
    
    .titulo-principal::after{
        content: none;
    }

    .lista-beneficios{
        padding: 0;
    }

    .img-beneficios{
        width: 80%;
    }


}
